
.seccion-1-procesadores {
    display: flex;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,400px);
    grid-template-areas:
        "img-grande"
        "img-1"
        "img-2"
        "img-3"
        "img-4"
    ;
    max-width: 1200px;
    margin: auto;
}

.img-grande {
    grid-area: img-grande;
    background-image: url("/resources/1366_2000.png");
    background-size: cover;

}

.img-1 {
    grid-area: img-1;
    background-image: url("/resources/badge-ci3-10th.png");
    background-size: cover;

}

.img-2 {
    grid-area: img-2;
    background-image: url("/resources/badge-ci5-10th.png");
    background-size: cover;

}

.img-3 {
    grid-area: img-3;
    background-image: url("/resources/badge-ci7-10th.png");
    background-size: cover;
  
}

.img-4 {
    grid-area: img-4;
    background-image: url("/resources/i9.jpg");
    background-size: cover;

}


article{
    border: 1px solid black;
    margin: 20px;
    padding: 10px;

}

@media (min-width: 700px){
    .seccion-1-procesadores{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,200px);
        grid-template-areas: 
        "img-grande img-grande img-1 img-2"
        "img-grande img-grande img-3 img-4"; 
    }
}
